.header-container {
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image-income {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/income.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}